<%- include ('partials/header.ejs') %>


<%- include ('partials/main_nav.ejs') %>



      <!-- Main Content -->
<!--<main class ="contaier">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page of my Portfolio</h1>
  </div>

</main> -->




<section class="about-section">
  <div class="">
      <div class="row">                
          <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
              <div class="inner-column">
                  <div class="sec-title">
                      <span class="title"></span>
                      <h3>MISSION STATEMENT</h3>
                      <P></P>
                      <h4><i>"To gather, preserve, research, display, and promote knowledge of works of art that collectively represent the widest range of human achievement at the highest level of quality, all in the interest of the general public and in line with the highest professional standards."</i></h4>
                  </div>
                  <div class="text">Welcome to my Express portfolio website for Comp229.  </div>
                <div class="text">
                  A British Computer Society accredited Business Analyst with a Bachelor of Science degree in
Information Technology with specialisation in Software Engineering and practical hands-on
experience of Business Analysis on full Software development Lifecycle Projects. A highly motivated
young graduate with great personality and good experience of working within a team or as an
individual, seeking to use skills gained through experience to promote the success of any
organisation.
                </div>
                  <div class="btn-box">
                      <a href="/about" class="theme-btn btn-style-one">About Me</a>
                  </div>
              </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column wow fadeInLeft">
                <div class="author-desc">
                  <h2>Tobi Abel</h2>
                  <span>Web Developer</span>
                </div>
                  <figure class="image-1"><a href="/Assets/images/portfolio.jpeg" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="/Assets/images/portfolio.jpeg" alt=""></a></figure>
               
              </div>
          </div>
        
      </div>
    
</section>







<%- include ('partials/bottom_nav.ejs') %>


<%- include ('partials/footer.ejs') %>
